#App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Appwrap{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;

}

#logo{
    font-size:50px;
    font-weight: bold;
}