.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#header{
    max-width: 800px;
    min-width: 300px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#TheQuizz{
    width:100%;
}
#quizz{
    background-image: url("./wwm.avif");
    color:rgb(255, 255, 255);
    max-width: 800px;
    min-width: 300px;

    padding:200px 20px 0px 20px;
    position: relative;
    
}

.question{
    max-width: 800px;
    min-width: 300px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;

    

    padding:20px;
}

.answers{
    max-width: 800px;
    min-width: 300px;

    display:grid;
    grid-template:55px 55px / 1fr 1fr;
    padding:18px;
    grid-gap:18px;
    font-weight: bold;
    font-size: 18px;

}

.answer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;

    display:flex;
    gap:5px;
    justify-content: start;
    padding-left:5px;
}
.letter{
    color:orange;
}

.question,.answer{
    background: rgb(8,23,105);
    background: linear-gradient(90deg, rgba(8,23,105,1) 4%, rgba(74,71,139,1) 12%, rgba(8,14,80,1) 24%, rgba(37,45,130,1) 55%, rgba(69,75,135,1) 62%, rgba(34,33,143,1) 75%, rgba(14,7,82,1) 100%);
    
    border:solid rgb(135, 146, 180) 4px;

}
.right{
    border:solid rgb(30, 255, 0) 4px;
    pointer-events: none;
}

.wrong{
    border:solid red 4px;
    pointer-events: none;
}

#cash{
    position: absolute;
    top:0;
    justify-content: space-between;
    display: flex;
    background-color: rgb(6, 6, 100);
    width: 95%;
    pointer-events: none;
    font-size: 14px;
}

.cashmoney{
    color:Orange;
    font-weight: bold;
}

.nextButton{
    max-width: 800px;
    min-width: 300px;
    width:100%;
    padding:25px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(27, 26, 26);
    color:rgb(255, 255, 255);
}

#winner{
    background-image: url("./winner.avif");
    height:100vh;
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
}
